@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #999;
  background-image: url(/app-bg.png);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7c3aed, #5b21b6);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5b21b6, #4c1d95);
}
